<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap" rel="stylesheet">
    <title>Document</title>
</head>
<body>
    <div class= "container">
<h1 class="title">TODO LIST</h1>
<input class ="input-box" type="text" #newTodo>
<button class= "add-btn" (click)="addTodo(newTodo)"> Add Todo!</button>

<h1 class="not-completed-title">NOT COMPLETED</h1>
<form class="form-container">
<ol *ngFor= "let todo of todos" class="todo-container">
    
    <div class="not-completed" *ngIf="!todo.completed">
   <h3 class="todo-title" [ngStyle]="{color: todo.completed ? 'lightgreen' : 'white'}" ><button class="complete-btn"(click)="completeTodo(todo)">Complete</button>
       {{todo.task}} <button class="xBtn">X</button>
</h3>
</div> 

   </ol>
</form>
<h1>COMPLETED</h1>
<div *ngFor= "let todo of todos" class="todo-container">
    <div class="completed" *ngIf="todo.completed">
   <h3 class="todo-title" [ngStyle]="{color: todo.completed ? 'lightgreen' : 'white'}" (click)="completeTodo(todo)">
       {{todo.task}}
   </h3>
   </div>
</div>
</div>
</body>
</html>
